/* AuthLayout style  */
.content {
  max-width: 1190px;
}

.innerContent {
  margin: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper:hover {
  background-color: #F6F6F6;
  cursor: pointer;
  height: 152;
  transition: 400ms ease-in-out;
}

.logWrapper {
  /* height: 200px */
}

.logWrapper:hover {
  background-color: #F6F6F6;
  cursor: pointer;
  padding: 2;
  transition: 400ms ease-in-out;
}

.managerWrapper {
  display: inline;
  margin-right: 5px;
  font-size: 11px;
  background-color: #F6F6F6;
  color: #F09A32;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 400;
}

.managerWrapper:hover {
  display: 'inline';
  margin-right: 5px;
  font-size: 11px;
  background-color: #F09A32;
  color: #F6F6F6;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 400;
  transition: 400ms ease-in-out;
}