/* AuthLayout style  */
.content {
  max-width: 1190px;
}

.wrapper:hover {
  background-color: #F6F6F6;
  cursor: pointer;
  transition: ease-in-out 300ms;
}

.logWrapper {
  /* height: 200px */
}

.logWrapper:hover {
  background-color: #F6F6F6;
  cursor: pointer;
  transition: ease-in-out 300ms;
}

.managerWrapper {
  display: inline;
  margin-right: 5px;
  font-size: 11px;
  background-color: #F6F6F6;
  color: #F09A32;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 400;
}

.managerWrapper:hover {
  display: 'inline';
  margin-right: 5px;
  font-size: 11px;
  background-color: #F09A32;
  color: #F6F6F6;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 400;
  transition: ease-in-out 300ms;
}

.dateItem:hover,
.noticeItem:hover {
  background-color: #F6F6F6;
  cursor: pointer;
  transition: ease-in-out 300ms;
}

.dateItem {
  margin: 2px;
  padding: 3px;
}

.noticeItem {
  display: flex;
  margin: 2px;
  padding: 3px;
  align-items: center;

}