/* AuthLayout style  */
.content {
  max-width: 1190px;
}

.innerContent {
  margin: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper:hover {
  background-color: #F6F6F6;
  cursor: pointer;
  height: 152;
  transition: 400ms ease-in-out;
}

.logWrapper:hover {
  background-color: #F6F6F6;
  cursor: pointer;
  transition: 400ms ease-in-out;
}
